<div class="ui large middle aligned divided animated list">
  <% @questions.each do |question| %>
    <a href="<%= question_path(question) %>" class="item">
      <img class="ui avatar image" src="<%= question.profile.photo_url %>">
      <div class="content">
        <div class="header"><%= question.title %></div>
      </div>
    </a>
  <% end %>
</div>
