<div class="videoContainer">
  <iframe class="videoContainer__video" width="1920" height="1080" src="https://www.youtube.com/embed/mtIeLsMbfzg?autoplay=1&mute=1&controls=0&fs=0&loop=1&rel=0&showinfo=0&disablekb=1&playlist=IsBInsOj8TY" frameborder="0"></iframe>
</div>

<div class="hero-text">
  <div class="box">
    <p class="big">Learn Malay with MalayMe</p>
    <p class="small">Watch online videos or ask questions</p>
  </div>
</div>

<div class="footer">
  Made with <i class="heart red icon"></i> by
  <a class="ui green label" href="https://github.com/wandsen" target="_blank">
    <i class="github icon"></i>
    D Sen Wan
  </a>
  <a class="ui green label" href="https://github.com/ChloeLiang" target="_blank">
    <i class="github icon"></i>
    Liang Xin
  </a>
  <a class="ui green label" href="https://github.com/saufm68" target="_blank">
    <i class="github icon"></i>
    Saufi Dzulkifley
  </a>
</div>
