<div class='landing-image'></div>

<div class='ui card option'>
	<div class='content'>
		<div class='header'>Class</div>
		<div class='sumamry'>Learn malay by following a set of video tutorials based on youtr current level - Beginner, Intermediate, Professional</div>
	</div>
	<div class='extra content'>
		<button class='ui button'><%= link_to 'Class', playlists_path %></button>
	</div>
</div>

<div class='ui card option'>
	<div class='content'>
		<div class='header'>Forum</div>
		<div class='sumamry'>Browse through questions or ask questions related to learning the language</div>
	</div>
	<div class='extra content'>
		<button class='ui button'><%= link_to 'Forum', questions_path %></button>
	</div>
</div>

<div class='ui segment'>
	<h2>About Us</h2>
	<p>placeholder</p>
</div>
