<div class='landing-image'></div>

<div class='ui grid home'>
  <div class='two column row'>
    <div class='column'>
      <div class='ui card option'>
        <div class='content'>
          <div class='header'>Class</div>
          <div class='sumamry'>Learn malay by following a set of video tutorials based on youtr current level - Beginner, Intermediate, Professional.</div>
        </div>
        <div class='extra content'>
          <%= link_to playlists_path do %>
            <button class='fluid ui blue button'>Class</button>
          <% end %>
        </div>
      </div>
    </div>
    <div class='column'>
      <div class='ui card option right'>
        <div class='content'>
          <div class='header'>Forum</div>
          <div class='sumamry'>Browse through questions or ask questions related to learning the language.</div>
        </div>
        <div class='extra content'>
          <%= link_to questions_path do %>
            <button class='fluid ui blue button'>Forum</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

	<div class="row">
	<div class="column footer">
		Made with <i class="heart red icon"></i> by
		<a class="ui green label" href="https://github.com/wandsen" target="_blank">
			<i class="github icon"></i>
			D Sen Wan
		</a>
		<a class="ui green label" href="https://github.com/ChloeLiang" target="_blank">
			<i class="github icon"></i>
			Liang Xin
		</a>
		<a class="ui green label" href="https://github.com/saufm68" target="_blank">
			<i class="github icon"></i>
			Saufi Dzulkifley
		</a>
	</div>
	</div>
</div>
