<h1>Explore Videos</h1>


<div class="ui grid"></div>

<% @videos.each do |video| %>

<%= video.video_url %>
	<% string = video.video_url.dup %>
	<% string.gsub!('www','img')%>
	<%#= string = string.gsub!('embed','vi') << '/0.jpg'%>

	<div class="column">
		<div class="playlist-video-box">
		<%#= link_to image_tag(string, class: "preview-image"), video_path(video.id) %>



<% end %>

</div>