.landing-image {
  position: fixed;
  z-index: 0;
  background: url('malay.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 60vh;
  left: 0;
  top: 2em;
}

.login.column {
  max-width: 450px;

  .ui.left.icon.input {
    width: 100%;
    margin-bottom: 1em;
  }
}

.field_with_errors {
  width: 100%;
  margin-bottom: 1em;

  input {
    padding-left: 2.67142857em !important;
    outline: none;
    width: 100%;
    margin: 0;
    flex: 1 0 auto;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67857143em 1em;
    background: #ffffff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
  }
}

.notice,
.alert {
  text-align: center;
  color: red;
}

.ui.grid.home {
  position: absolute;
  top: 50vh;
  .ui.card.option {
    height: 215px;
  }

  .ui.card.option.right {
    float: right;
  }

  .footer {
    padding-top: 1em;
    text-align: center;
  }
}
