.landing-image {
  position: fixed;
  z-index: 0;
  background: url('malay.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 60vh;
  left: 0;
  top: 2em;
}

.ui.grid.home {
  position: absolute;
  top: 50vh;
  .ui.card.option {
    height: 215px;
  }

  .ui.card.option.right {
    float: right;
  }

  .footer {
    padding-top: 1em;
    text-align: center;
  }
}
