.list .question:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.reply {
  position: fixed;
  width: 50%;
  bottom: 2em;
}

.ui.grid > .replies {
  justify-content: flex-end;
}

.ui.segment.items.qna {
  max-width: 70%;
  margin: 0;
}

.qna .item .content .right {
  float: right;
}

.ui.items > .item > .content p {
  clear: both;
}
