.list .question:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.reply {
  position: fixed;
  width: 50%;
  bottom: 1em;
}

.ui.grid > .replies {
  justify-content: flex-end;
}

.ui.segment.items.qna {
  max-width: 70%;
  margin: 0;
}

.qna .item .content .right {
  float: right;
}

.ui.items > .item > .content p {
  clear: both;
}

.upload > input {
  display: none;
}

.upload {
  position: absolute;
  right: 18%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
}

.ui.action.input:not([class*='left action']) > input {
  padding-right: 50px;
}
