.video-index-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ui.special.cards > .card.video-index-list {
	width: 230px;
	height: 270px;
}

.iframe-video {
	min-height: 450px;
}

.add-to-playlist {
	width: 157px;
	min-height: 100px;
	text-align: left;
	border: 1px solid green;
	padding-top: 0.5rem;
	border-radius: 5px;
}

.checkbox-playlist input[type="checkbox"] {
  display: inline-block;
  width: 20%;
  text-align: left;
}

.checkbox-playlist input[type="checkbox"] + label {
  display: inline-block;
  width: 80%;
}

.form-divider {
	text-align: center;
	border-top: 1px solid green;
	margin-top: 10px;
	padding: 0.5rem;
}